{
    "aws": {
        "AWS_ACCESS_KEY_ID": "...",
        "AWS_SECRET_ACCESS_KEY": "...",
        "AWS_DEFAULT_REGION": "ap-northeast-2",
        "AWS_AVAILABILITY_ZONE_1": "ap-northeast-2a",
        "AWS_AVAILABILITY_ZONE_2": "ap-northeast-2c"
    },
    "common": {
        "AWS_KEY_PAIR_MATERIAL": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDp2885zRJicpdtoDwA05cSqsMWa/6wxtKhl75K9nvDsMt5o7wz2+CSD1fx+cXje+LQW9EXpQ9WDkey2FtItE4kgk7J1es0iNg4kQ2VH9PQQZ/58J7mTq6wSRH55IBVOA3t7/TbCNieojK6LB/qTKqp723l4AzcYZ0RwhJOmoo7dqLk7LbeXWWEXUEHrS7NrBL1+ClTPcC52pCgxn4CZY3OYJiBDug2Cwqm9s2HZiO7+7UNcOO9Ay2n3EynGbmqs7P296aymuPazHKDgt7HaUBr9KPbHHpQlfTPZDGEiu1B5mG6ZeYxEnJNUX/EHBzDEmGUHrtSK2Wj6b7unNS03wU3",
        "AWS_KEY_PAIR_NAME": "dv",
        "AWS_SUBNET_EB_PRIVATE_1": "10.210.0.0/20",
        "AWS_SUBNET_EB_PRIVATE_2": "10.210.16.0/20",
        "AWS_SUBNET_EB_PUBLIC_1": "10.210.128.0/20",
        "AWS_SUBNET_EB_PUBLIC_2": "10.210.144.0/20",
        "AWS_VPC_EB": "10.210.0.0/16",
        "AWS_VPC_RDS": "10.200.0.0/16",
        "DEBUG": "True",
        "HOST_NOVA": "dv-nova.ap-northeast-2.elasticbeanstalk.com",
        "PHASE": "dv",
        "URL_NOVA": "http://dv-nova.ap-northeast-2.elasticbeanstalk.com"
    },
    "elasticbeanstalk": {
        "APPLICATION_NAME": "dv"
    },
    "nova": {
        "CNAME": "dv-nova",
        "AWS_ASG_MAX_VALUE": "1",
        "AWS_ASG_MIN_VALUE": "1"
    }
}
