#!/usr/bin/env python
# -*- coding: utf-8 -*-

env = dict()
env['aws'] = dict()
env['aws']['AWS_ACCESS_KEY_ID'] = '...'
env['aws']['AWS_AVAILABILITY_ZONE_1'] = 'ap-northeast-2a'
env['aws']['AWS_AVAILABILITY_ZONE_2'] = 'ap-northeast-2c'
env['aws']['AWS_DEFAULT_REGION'] = 'ap-northeast-2'
env['aws']['AWS_SECRET_ACCESS_KEY'] = '...'

env['common'] = dict()
# noinspection PyPep8
env['common']['AWS_KEY_PAIR_MATERIAL'] = \
    'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDp2885zRJicpdtoDwA05cSqsMWa/6wxtKhl75K9nvDsMt5o7wz2+CSD1fx+cXje+LQW9EXpQ9WDkey2FtItE4kgk7J1es0iNg4kQ2VH9PQQZ/58J7mTq6wSRH55IBVOA3t7/TbCNieojK6LB/qTKqp723l4AzcYZ0RwhJOmoo7dqLk7LbeXWWEXUEHrS7NrBL1+ClTPcC52pCgxn4CZY3OYJiBDug2Cwqm9s2HZiO7+7UNcOO9Ay2n3EynGbmqs7P296aymuPazHKDgt7HaUBr9KPbHHpQlfTPZDGEiu1B5mG6ZeYxEnJNUX/EHBzDEmGUHrtSK2Wj6b7unNS03wU3'
env['common']['AWS_KEY_PAIR_NAME'] = 'dv'
env['common']['AWS_SUBNET_EB_PRIVATE_1'] = '10.210.0.0/20'
env['common']['AWS_SUBNET_EB_PRIVATE_2'] = '10.210.16.0/20'
env['common']['AWS_SUBNET_EB_PUBLIC_1'] = '10.210.128.0/20'
env['common']['AWS_SUBNET_EB_PUBLIC_2'] = '10.210.144.0/20'
env['common']['AWS_VPC_EB'] = '10.210.0.0/16'
env['common']['AWS_VPC_RDS'] = '10.200.0.0/16'
env['common']['DEBUG'] = 'True'
env['common']['HOST_NOVA'] = 'dv-nova.ap-northeast-2.elasticbeanstalk.com'
env['common']['PHASE'] = 'dv'
env['common']['URL_NOVA'] = 'http://dv-nova.ap-northeast-2.elasticbeanstalk.com'

env['elasticbeanstalk'] = dict()
env['elasticbeanstalk']['APPLICATION_NAME'] = 'dv'

env['nova'] = dict()
env['nova']['AWS_ASG_MAX_VALUE'] = '1'
env['nova']['AWS_ASG_MIN_VALUE'] = '1'
env['nova']['CNAME'] = 'dv-nova'
