[profile hbsmith-dv]
sso_session = hbsmith-dv
sso_account_id = YOUR_DV_ACCOUNT_ID
sso_role_name = AdministratorAccess
region = ap-northeast-2
output = json

[sso-session hbsmith-dv]
sso_start_url = https://d-9b67225886.awsapps.com/start#/
sso_region = ap-northeast-2
sso_registration_scopes = sso:account:access
